<!DOCTYPE html>
<html lang ="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/style.css" />


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type=text/css>

body { background-color: white;}

.img_deg
      {
        float: left;
        width: 20%;
        border: 10px solid #006400;
        border-radius: 50%;
        left: 10%;
        top: 10%;
        margin-right: 250px;
        margin-bottom: 100px;
      }

      .pos_cen
      {
        position: absolute;
        width: 70%;
        left: 20%;
        top: 25%;
      }

      p
      {
        
        font-size: 15px;
        text-align: left;
        word-break: normal;
      }

</style>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg" style="background-color: #191970;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="topnav-right" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/Home" style="color:white"><strong>Home</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="color:white"><strong>About me</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="projects" style="color:white"><strong>Projects</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services" style="color:white"><strong>Services</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" style="color:white"><strong>Contact me</strong></a>
        </li>

      </ul>
    </div>
  </div>
</nav>  

<!--About-->
<div class="pos_cen">

<div class="container-fluid text-center">
  <img class="img_deg" src="rev.jpg" alt="REV"></a>

  <h2>Hello there! Nice to meet you.</h2  >
  <br>
  <h3>I'm Jorev Kenz Z. Castañares</h3>
  <br>
  <p> 
    I am an international student in Centennial College currently pursuing 
    Software Engineering Technician. I am currently in my first semester learning Java, 
    Visual Paradigm, MySQL, NodeJs and ExpressJS. I was born and raised in the Philippines.
  </p>

  <a href="JorevCastanares_CV.pdf">My resume</a>
    
</div>
