<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/style.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type =text/css>

      .img_deg
      {
        float: left;
        width: 5%;
        margin-right: 25px;
        margin-bottom: 90px;
      }

      .pos_cen
      {
        position: absolute;
        width: 70%;
        left: 15%;
        top: 15%;
      }

      p
      {
        font-size: 13px;
        width: 30%;
        margin-top: 15px;
        word-break: normal;
      }

</style>

<title>My Portfolio</title>
<body>
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg" style="background-color: #191970;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="topnav-right" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/Home" style="color:white"><strong>Home</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" style="color:white"><strong>About me</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects" style="color:white"><strong>Projects</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services" style="color:white"><strong>Services</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact" style="color:white"><strong>Contact me</strong></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>  

      <!--Services-->
      <div class="pos_cen">

        <h1><strong>SERVICES</strong></h1>
        <br>
        <img class="img_deg" src="gn.png" alt="GN"></a>
        <h5><strong>GENERAL PROGRAMMING</strong></h5>
        <p> 
          I offer a basic of programming services to meet your software development needs,
           from custom application development to code optimization and everything in between.
        </p>
        <br>
        <img class="img_deg" src="wd.png" alt="WD"></a>
        <h5><strong>WEB DEVELOPMENT</strong></h5>
        <p> 
          Our web development services encompass everything from creating stunning, responsive 
          websites and e-commerce platforms to enhancing user experiences and ensuring top-notch 
          security for your online presence."
        </p>
        <br>
        <img class="img_deg" src="ma.png" alt="MA"></a>
        <h5><strong>MOBILE APPS</strong></h5>
        <p> 
          We specialize in mobile application services, crafting innovative and user-friendly 
          apps for iOS and Android platforms, tailored to meet your business objectives and 
          engage your target audience effectively.
        </p>
        

      </div>
    </div>
